.accordioncontainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    border: 10px solid blue ;
}

.Accordion {
    width:500px;
    border: 1px solid red ;
}

.toggleButton {
    background-color: brown;
    color: white;
    padding: 30px 30px;
    margin-bottom: 10px;
    font-size: large;
}

.item{
    background-color: brown;
    margin-bottom: 10px;
    padding: 10px 20px;
    color: white;
    width: 500px;
}

.question{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.answer{
    color: white;
    width: auto;
}